/** -------------- HOUSE KEEPING STUFF ---------------- **/
*{
    margin: 0px;
    padding: 0px;
    font-family: roboto, Arial;
    color: white;
}

header, footer, article, hgroup, section, aside{
    display: block;
}
/** -------------- HOUSE KEEPING STUFF ---------------- **/

body{
    width: 100%;
    display: -webkit-box;
    -webkit-box-pack: center;
    background-color: #235c88;
}

#main_container{
    max-width: 1000px;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
}

#main_section{
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}

#main_content{
    -webkit-box-flex: 1;
    -webkit-transition: -webkit-transition 1s, background-color 1s;
    margin-right: 5px;
    background-color: #3182c1;
    padding: 30px;
}

#main_content:hover{
    background-color: #3c9be5;
}

li{
    list-style-type: none;
}

h2{
    color: #2BA9FF;
}

#main_header{
    margin-top: 2px;
    margin-bottom: 5px;
}

#main_header h1{
    font: 50px roboto thin;
    padding: 30px;
    margin-bottom: 5px;
    -webkit-transition: -webkit-transition 1s, background-color 1s;
}

#main_nav{
    display: -webkit-box;
    width: 1000px;
}

#main_nav ul{
    display: -webkit-box;
    width: 1000px;
}

#main_nav ul li{
    display: -webkit-box;
    -webkit-box-flex: 1;
}

#main_nav ul li a{
    display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-box-pack: center;
    text-decoration: none;
    padding: 20px 30px;
    margin-right: 5px;
    background-color: #3182c1;
    color: white;
    -webkit-transition: -webkit-transition 1s, background-color 1s;
}

#main_nav ul li a:hover{
    background-color: #3c9be5;
}

#main_footer{
    margin-top: 5px;
    margin-bottom: 5px;
}

#main_footer p{
    display: -webkit-box;
    font-size: 10px;
    -webkit-box-pack: center;
    background-color: #3182c1;
    padding: 5px;
}

#image_header{
    display: -webkit-box;
    height: 300px;
    -webkit-box-pack: center;
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 2px;
    -webkit-transition: -webkit-transition 1s, background-color 1s;
    background-color: #3182c1;
}

#image_header img{
    height: 300px;
}

#image_header:hover{
    background-color: #3c9be5;
}


#side_content{
    padding: 20px;
    background-color: #3182c1;
    -webkit-transition: -webkit-transition 1s,  background-color 1s;
}

#side_content:hover{
    background-color: #3c9be5;
}

#items_container{
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-orient: horizontal;
    margin-bottom: 5px;
}

#items_container div{
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
    -webkit-box-flex: 1;
    padding: 30px;
    -webkit-transition: -webkit-transition 1s,  background-color 1s;
    margin-right: 5px;
    background-color: #3182c1;
}

#items_container div:hover{
    background-color: #3c9be5;
}

#items_container div h2{
    display: -webkit-box;
    -webkit-box-pack: center;
    font-weight: normal;
}

#items_container div ul li{
    display: -webkit-box;
    -webkit-box-pack: center;
}

#items_container div ul li a{
    color: #DDC8F7;
    font-size: 10px;
}

article{
    margin-top: 20px;
}