* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

body {
	/*background:url('../images/bg.jpg') no-repeat center center;*/
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 12px;
	cursor: default;
}

html {
	height: 100%;
	margin-bottom: 1px;
}					

hr {
	border: 0px;
	color: #CCCCCC;
	background-color: #CDCDCD;
	height: 1px;
	width: 100%;
	text-align: left;
}
h1 {
	font-size: 28px;
	color: #cc0000;
	background-color: #FFFFFF;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: 300;
}
h2 {
	font-size: 20px;
	color: gray;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: 300;
	background-color: #FFFFFF;
}
h3 {
	color: #cc0000;
	font-size: 15px;
	text-align: left;
	font-weight: 300;
	padding: 5px;
	margin-top: 5px;
}

p {
	color: black;
	background-color: #FFFFFF;
	line-height: 20px;
	padding: 5px;
}
a {
	color: #cc0000;
	background-color: #FFFFFF;
	text-decoration: none;
}
a:hover {
	color: #cc0000;
	background-color: #FFFFFF;
	text-decoration: underline;
}