body {
	padding: 0px;
}
/* The CSS Code for the menu starts here */
#menu {
	font-family: Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0 0 0 10px;
	list-style-type: none;
	font-size: 13px;
	height: 40px;
	border-bottom: 1px solid #ccc;
}

#menu li {
	float: left;
	margin: auto;
}
#menu li a {
	text-decoration: none;
	display: block;
	padding: 0 20px;
	line-height: 40px;
	color:#333;
}
#menu li a:hover, #menu li.active a {
	border-bottom: 1px solid #F00;
	color: #999;
}